
html, body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: sofia-pro, sans-serif;
    background-color: #fb872b;
}

#progress-bar {
    position: fixed;
    background-image: linear-gradient(to right, #fb872b, #ffdf00);
    height: 10px;
    width: 0%;
    z-index: 900;
    transition: 0.5s ease;
}

#page-container {
    position: relative;
    background-color: white;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    padding-bottom: 40rem;
}

.header-section {
    padding-top: 110px;
}

.header-container {
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.cover-image {
    position: relative;
    width: 80%;
    height: 630px;
    margin: 0em 0em 0em auto;
    overflow: hidden;
}

.header-img-wrapper {
    overflow: hidden;
    border-radius: 8px;
    max-height: 800px;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 8px;
}

.header-img-wrapper img {
    transition: var(--transition-whoosh);
    transform: scale(1);
}

.header-img {
    display: block;
    width: 100%;
}

img {
    object-fit: cover;
}

.title-box {
    position: relative;
    width: 70%;
    margin: -64px auto auto 100px;
    padding: 2em;
    background: #ffffff;
}

.proj-title {
    font-size: 2.5em;
    margin: 0.5em 0 0.5em 0;
}

.proj-summary {
    font-size: 1.5em;
    font-weight: 500;
    opacity: 0.5;
}


/* CUE TO TELL PEOPLE TO SCROLL DOWN */

.scrollcontainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-height: 400px;
    right: 50px;
    bottom: 0px;
}

.nudge-outer {
    justify-self: flex-end;
    overflow: hidden;
    position: relative;
    height: 250px;
    width: 2px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
}

.nudge-bar {
    position: absolute;
	width: 2px;
	height: 70px;
    background: #ffffff;
    opacity: 1;
    transition: all 1s linear;
    -webkit-animation-name: v-move;
	animation-name: v-move;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes v-move {
    0% {
        top: -5px;
    }
    100% {
        top: 300px;
    }
}
@keyframes v-move {
    0% {
        top: -10px;
    }
    100% {
        top: 300px;
    }
}



/* RESPONSIVE CODE FOR INTRO, NAME AND EVERYTHING ON LANDING PAGE */

@media only screen and (min-width: 28em) and (max-width: 55em) {

    .scrollcontainer {
        right: 50px;
    }

    .scrolltext {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 27em) {

    .scrollcontainer {
        right: 30px;
    }

    .nudge-outer {
        height: 150px;
    }

    .scrolltext {
        font-size: 0.3em;
    }
}

.bg-info-section {
    padding: 1em 0em 5em 0em;
}


.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    /* padding: 0em 0.5em 0em 0.5em; */
}

.row {
    display: flex;
    flex-direction: row;
}

.overview-box {
    /* font-family: proxima-nova, sans-serif; */
    font-size: 1.125em;
    width: 60%;
    padding: 1em;
    line-height: 1.8;
}

.details-box {
    /* font-family: proxima-nova, sans-serif; */
    font-size: 1.125em;
    width: 50%;
    padding: 1em 1em 1em 2em;
    line-height: 2;
}

.bg-info-header {
    font-size: 1em;
    letter-spacing: 0.1em;
}

.problem-section {
    background-color: #000000;
    padding: 4em 0em 4em 0em;
}

.problem-header {
    font-size: 2em;
    color: #ffffff;
    width: 30%;
    padding: 0em 0.5em 0em 0.5em;
}

.problem-body {
    font-size: 1.125em;
    line-height: 1.8;
    color: #ffffff;
    width: 60%;
    padding: 0.5em 0.5em 0.5em 1em;
}

.specific-section{
    padding: 4em 0em 3em 0em;
}

.main-body-header {
    font-size: 2em;
    margin: 0 auto;
}

.sub-body-header {
    font-size: 1.5em;
    margin: 0 auto;
}

.content-p {
    font-size: 1.125em;
    opacity: 0.75;
    line-height: 1.8;
    margin: 16px auto;
    letter-spacing: 0px;
}

.col-2 {
    width: 55%;
}


.emphasize {
    font-size: 2.5em;
    font-weight: bolder;
    line-height: 1.8;
    margin: 32px auto;
    letter-spacing: 0;
    width: 55%;
}

.less-emphasize {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.8;
    margin: 40px auto;
    letter-spacing: 0;
    width: 55%;
    color: #1FA597;
}

.img-caption {
    font-size: 1em;
    opacity: 0.4;
    line-height: 1.8;
    margin: 0 auto;
    letter-spacing: 0px;
    width: 90%;
    text-align: center;
}

.content-link {
    cursor: cell;
    font-weight: 800;
    text-decoration: none;
    color: #fb872b;
}

.insights-list {
    margin: 0 auto;
    padding: 1em 2.5em 2em 2.5em;
    font-size: 1em;
    line-height: 1.8;
}

li {
    padding-bottom: 1em;
}


.img-container {
    position: relative;
    margin: 3em auto;
    width: 100%;
}

.content-img {
    width: 100%;
}


.hidden {
    display: none;
}

/* PROTOTYPE SECTION */

.features-container {
    display: flex;
    width: 80%;
    max-width: 1300px;
    margin: 4em auto;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.feature-header {
    font-size: 1.5em;
    color: #1FA597;
}

.feature-content {
    font-size: 1.125em;
    opacity: 0.75;
    line-height: 1.8;
}

.gif-col{
    padding: 1em ;
    width: 25%;
}

.description-col {
    padding: 2em;
    width: 40%;
}

.prototype {
    width: 100%;
}

.reflection-section {
    background-color: #fb872b;
    margin: 6em 0em;
    padding: 5em 0em 4em 0em;
}

.more-projects-section {
    padding: 5em 0em 6em 0em;
    margin: 5em 0em 10em 0em;
}

.next-project-link a {
    margin: 0em 0em 2em 0em;
    cursor: cell;
    text-decoration: none;
    color: #000000;
    font-size: 3em;
    font-weight: 800;
    background-size: 0%;
    background-position: 0 1em;
    background-size: 500%;
    background-image: linear-gradient(to right, #fb872b,#ffdf00); 
    background-repeat: no-repeat;
    transition: .5s linear, box-shadow .15s linear 0s;
}

.next-project-link a:hover {
    background-size: 100%;  
}

/* RESPONSIVE CODE */

@media only screen and (max-width: 57em) {

    .title-box {
        width: 100%;
        margin: -150px auto auto auto;
        padding: 0.5em;
    }
    
    .header-container {
        padding: 0.5em;
        margin: 0 auto;
        bottom: 0;
        width: 90%;
    }

    .header-img {
        top: 0px;
    }

    .content-p {
        margin: 2em auto;
    }
    
    .horizontal-scroll {
        height: 420px;
    }
    
    .card {
        font-size: 0.8em;
        width: 300px;
        height: 380px;
        margin: 0em 2em 0em 0em;
    }

    .cover-image {
        width: 100%;
        margin: 0 auto;
    }
    
    .content-p{
        margin: 2em auto;
    }
    
    .main-content {
        margin: 0 auto;
    }

    .col-2 {
        width: 80%;
    }

    .main-body-header {
        margin: 0px auto 0px auto;
    }
    
    .sub-body-header {
        margin: 0px auto 0px auto;
    }

}

@media only screen and (max-width: 28em) {
    .cover-image {
        height: 400px;
    }
    
    .row {
        flex-direction: column;
        align-self: center;
    }

    .overview-box {
        width: 90%;
        margin: 0 auto;
        padding: 1em;
    }

    .details-box {
        width: 90%;
        margin: 0 auto;
        padding: 1em;
    }
    
    .problem-header {
        width: 90%;
        margin: 0 auto;
    }

    .problem-body {
        width: 90%;
        margin: auto;
    }
    
    .title-box {
        margin: -150px auto auto auto;
    }
    
    .horizontal-scroll {
        width: 90%;
        padding: 1em;
        margin: 0 auto;
    }
}